<div class="row">
  <div class="col s2">
  </div>

  <div class="col s10">

    <% if @cart.empty? %>

      <p class="text"> Your cart is empty, like your soul. </p>

    <% else %> 

      <% @cart.each do |c|%> 


        <%=c.item.name%>
        <%=c.quantity%>
        <br/>

      <% end%>



    <% end %>


  		
  		
  	

  </div>
</div>