<% if logged_in? %>
	<%= link_to "Welcome, #{current_user.first_name}", user_path(current_user) %>
	<li><%= link_to "Edit settings", edit_user_path(current_user) %></li>
	<li><%= link_to "Logout", logout_path %></li>

<% else %>
    <%= link_to 'Login', login_path %>
           
<% end %>

