<div class="contain-to-grid">
  <nav>
    <div class="nav-wrapper black-text">
    

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html"> 

         <%= render partial: 'partials/login' %>


        </a></li>

      </ul>
    </div>
  </nav>
</div>