<div class="contain-to-grid">

  <nav>
    <div class="nav-wrapper black-text">
    

      <ul id="nav-mobile" class="right hide-on-med-and-down">
   

         <%= render partial: 'partials/login' %>
     

      </ul>
    </div>
  </nav>
</div>