<ul id="slide-out" class="side-nav fixed">
  <li>
    <div class="userView">

        <div id="logo">
        <p align="center">
        <%= link_to image_tag('logo.png'), home_path %>
        </p>
        </div>
    

    </div>
  </li>

    <li><a href="/home"><div class="nav-text">Home</div></a></li>
    <li><div class="divider"></div></li>
    <li><a href="/boards"><div class="nav-text">Boards</div></a></li>
    <li><div class="divider"></div></li>
    <li><a href="/clocks"><div class="nav-text">Clocks</div></a></li>
    <li><div class="divider"></div></li>
    <li><a href="/pieces"><div class="nav-text">Pieces</div></a></li>
    <li><div class="divider"></div></li>
    <li><a href="/supplies"><div class="nav-text">Supplies</div></a></li>

</ul>
