<div class="row">
    <div class="col s2">
    </div>
    <div class="col s8">
<canvas id="myChart" width="200" height="200"></canvas>

<div id="chartjs1">
<script>

var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%=raw(@last5days)%>,
        datasets: [{
            label: 'Revenue',
            yAxisID: 'y-axis-1',
            data: <%=raw(@revenue)%>,
            borderColor: "rgba(0, 105, 92, 0.5)", 
            backgroundColor: "rgba(255,255,255,0)", 
            borderWidth: 3
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
          beginAtZero: true
        },
            position: "left",
            "id": "y-axis-1", 
            scaleLabel: {
        display: true,
        labelString: 'Revenue in Dollars'
      }
          }]

        }
    }
});

</script>
</div>

</div>
</div>
