<div class="row">
	<div class="col s2">
	</div>

	<div class="col s3">

		<div class="card-panel white teal-text">

          <div id="card_heading">
          	<%= @order_count %> 
             <p class="caption grey-text">
              Orders in past 5 days
             </p>
          </div>

    </div>

  </div>

  <div class="col s3">

    <div class="card-panel white teal-text">

          <div id="card_heading">
            <%= number_to_currency(@total_earned) %> 
             <p class="caption grey-text">
              Profits in past 5 days
             </p>
          </div>
         
    </div>
        
  </div>
</div>



  

   







</div>

