<h5 class="heading"><%=@category%></h5>

	<table class = "highlight">
	<thead>
		<tr>
			<th data-field="name" class="table-heading">Name</th>
			<th data-field="price" class="table-heading">Price</th>
			<th data-field="inventory" class="table-heading">Inventory</th>
		</tr>
	</thead>

	<tbody>
		<% @items.each do |item| %>
		<tr>
			<td class="link text"><%= link_to item.name, item_path(item) %></td>
            <td class="text"><%= item.current_price.nil? ? "N/A" : number_to_currency(item.current_price) %></td>
            <td class="text"><%= item.inventory_level %></td>
        </tr>
        <% end %>
    </tbody>

	</table>
