<div class="row">
  <div class="col s2">
  </div>

  <div class="col s10">
    <h3 class="heading">About the A&M Chess Store</h3>

    <p class="text">
    	The Chess Warehouse believes in the importance of scholastic chess.  To help support 
        scholastic chess, we make chess equipment available to schools and other educational 
        organizations at wholesale prices.  This chess equipment is only available to schools; 
        we do not sell to individuals.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>