<div class="row">
  <div class="col s2">
  </div>
  <div class="col s10">
		<h3 class="heading">Contact Chess Warehouse</h3>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr class="text">
				<td>Webmaster: Linda Xia</td>
				<td>Linda Xia</td>
			</tr>
			<tr class="text">
				<td>Email:</td>
				<td>
				<%= mail_to("lindax@andrew.cmu.edu", "Linda Xia", :encode => "javascript") %> 
				</td>
			</tr>
			<tr class="text">
				<td>Phone:</td>
				<td>408-219-8194</td>
			</tr>
		</table>
			
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</div>