<div class="row">
	<div class="small-4 columns">
		
	</div>
	<div class="small-8 columns">
		<h2>Yuck.&nbsp;&nbsp;It's a 500 Error.</h2>

    <h5>We are sorry, the page you are looking could not be generated.</h5><br />

	</div>
</div>
