<div class="row">
	<div class="col s2">
	</div>

	<div class="col s8">
		<h3 class="heading">Oops! It's a 500 Error.</h3>

    	<p class="text">We are sorry, the page you are looking could not be generated. <br/> Get out of my computer, cat!</p>

    	<%= image_tag 'error500.jpg' %>
    	<br />

	</div>
</div>
