<div class="row">
	<div class="col s2">
	</div>

	<div class="col s8">
	
	<h3 class="heading">404 Error - Security Alert</h3>

    <p class="text">Apparently you are trying to access a page which does not exist in our system (at least, not for you!).  This might be a result of direct URL manipulation. </p>

    <br />
   
    <%= image_tag 'error404.jpg' %>

    <p>&nbsp;</p>
   
    
	</div>
</div>

