<div class="row">
  <div class="col s2">
  </div>

  <div class="col s10">
  	<%= render :partial => "item_details" %>
  

    <% if logged_in? && current_user.role != "customer" && current_user.role != "shipper"%> 
      <%= render :partial => "price_history" unless @price_history.empty?%>
    <% end %>
    
    <%= render :partial => "similar_items" unless @similar_items.empty?%>


  </div>

 </div>


