<footer class="page-footer teal darken-3 text-white" >
  <div class="container">
    <div class="row">
        <div class="col 16 s12">
            <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="container foot white-text" href="/about">About</a></li>
                <li><a class="container foot white-text" href="/contact">Contact</a></li>
                <li><a class="container foot white-text" href="/privacy">Privacy</a></li>
                <li><a class="container foot white-text" href="mailto:lindax@andrew.cmu.edu">Webmaster: Linda Xia</a></li>
              </ul>
        </div>
    </div>
  </div>
  <div class="footer-copyright">
      <div class="container foot">
          © Linda Xia 2017
      </div>
  </div>
</footer>
